@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

.creepster-regular {
    font-family: "Creepster", sans-serif;
    font-weight: 400;
  }

h1 {
    font-family: "creepster", sans-serif;
    color: white !important;
}

.page-link {
  background-color: black !important;
  color: antiquewhite !important;
}

.page-link.active, .active > .page-link {
  background-color: antiquewhite !important;
  border-color: antiquewhite !important;
  color: black !important;
}